/* line 10, custom.scss */
body p {
  color: #fff; }

/* line 15, custom.scss */
header {
  height: 570px;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover; }
  /* line 19, custom.scss */
  header p {
    color: #fff; }

/* line 25, custom.scss */
.navbar {
  background: #d21100; }

/* line 29, custom.scss */
#homeSection {
  background-color: #222;
  min-height: 600px;
  margin-top: -20px; }
  /* line 34, custom.scss */
  #homeSection h1 {
    color: #E1A90E; }
  /* line 38, custom.scss */
  #homeSection h4 {
    color: #E1A90E; }
  /* line 41, custom.scss */
  #homeSection .home-logo {
    height: 100px;
    width: 150px; }
  /* line 46, custom.scss */
  #homeSection blockquote {
    color: #fff; }
  /* line 50, custom.scss */
  #homeSection .quotes {
    color: #d21100; }
  /* line 54, custom.scss */
  #homeSection .lead {
    padding-left: 70px; }
  /* line 58, custom.scss */
  #homeSection .media-body .media-heading {
    color: #E1A90E;
    font-weight: bold; }
  /* line 62, custom.scss */
  #homeSection .media-body h6 {
    color: #fff;
    padding-top: -10px; }
  /* line 67, custom.scss */
  #homeSection .header-description {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em; }
  /* line 72, custom.scss */
  #homeSection .header-description-paragraph {
    font-size: 1.2em; }

/* line 78, custom.scss */
#aboutSection {
  height: 620px;
  margin-bottom: 10px; }
  /* line 81, custom.scss */
  #aboutSection h1 {
    text-align: center; }
  /* line 85, custom.scss */
  #aboutSection .about-top {
    color: #d21100; }
  /* line 88, custom.scss */
  #aboutSection .about-h1 {
    font-size: 1.5em; }
  /* line 91, custom.scss */
  #aboutSection .about-h1:hover {
    color: #d21100; }
  /* line 94, custom.scss */
  #aboutSection p {
    text-align: center;
    color: #000; }
  /* line 98, custom.scss */
  #aboutSection .icon-about {
    background-color: #ccc; }
  /* line 101, custom.scss */
  #aboutSection .icon-about:hover {
    color: #fff;
    background-color: #000; }
  /* line 105, custom.scss */
  #aboutSection .spanning-div-for-about {
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 20px; }
  /* line 110, custom.scss */
  #aboutSection .first-section-h1 {
    font-size: 1.2em;
    font-weight: bold; }
  /* line 114, custom.scss */
  #aboutSection .thumbnail-custom-homeSection-two {
    opacity: 0.7;
    margin-top: 50px; }
  /* line 119, custom.scss */
  #aboutSection .first-section:hover {
    opacity: 0.5;
    background: #d21100; }
    /* line 122, custom.scss */
    #aboutSection .first-section:hover h1 {
      color: #fff; }
    /* line 125, custom.scss */
    #aboutSection .first-section:hover p {
      color: #fff; }
    /* line 128, custom.scss */
    #aboutSection .first-section:hover .icon-about {
      background-color: #E1A90E; }

/* line 134, custom.scss */
#footerSection {
  clear: both;
  height: 200px;
  background: #222; }
  /* line 140, custom.scss */
  #footerSection img {
    margin-top: 5px;
    height: 100px;
    width: 100px; }

/*# sourceMappingURL=custom.css.map */
